body { background: #3dead; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 36px; display: flex; }
.block-notify-0 { color: #7d09d9; font-size: 12px; margin-bottom: 5px; }
.block-product-1 { color: #4217ae; font-size: 19px; margin-bottom: 5px; }
.block-auth-2 { color: #2e3bbc; font-size: 19px; margin-bottom: 5px; }
.block-shipping-3 { color: #9c3138; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #b05ec5; font-size: 19px; margin-bottom: 5px; }